.navbar {
    background-color: #005ba4;
}

.menu {
    color: #ffffff;
}

.titulo {
    text-align: center;
}

.tituloBlanco {
    text-align: center;
    color: #ffffff;
}

.subtituloAzul {
    color: #0065a4;
    font-style: italic;
    font-weight: bold;
}

.seccionGeneralServices {
    padding-top: 4%;
}

.seccionServices {
    padding-top: 4%;
}

.seccionAboutUs {
    background-color: #005ba4;
    padding-top: 4%;
}

.seccionFreeQuote {
    background-color: #005ba4;
    padding-top: 4%;
}

.seccionFooter {
    background-color: #005ba4;
}

.lista {
    column-count: 2;
    column-gap: 10px;
    column-rule: 4px;
    border-style: dotted;
    border: none;
}

.formQuote {
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    padding-bottom: 20px;
    background: #66a3c8;
}

.subTarjeta {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: none;
}

.tarjeta {
    padding-left: 5%;
    padding-right: 5%;
}

.tarjetaAboutUs {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #005ba4;
    border: none;
    margin-bottom: 4
}

.parrafoBlanco {
    color: #ffffff;
}

.parrafoJustificado {
    text-align: justify;
}

.formFreeQuote {
    background-color: #66a3c8;
    margin-left: 27%;
    margin-right: 27%;
    border-radius: 5%;
}

.divInputFormFreeQuote {
    padding-left: 5%;
    padding-right: 5%;
}

.inputFormFreeQuote {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bottonFormFreeQuote {
    padding-left: 15%;
    padding-right: 15%;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #276ea8;
}

.btn-primary {
    background-color: #005ba4;
    border-color: #005ba4;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 22px;
}

li:hover a {
    color: #66a3c8;
}